# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# IDEs
.vscode/
.idea/
*.swp

# Output and Data directories (DO NOT COMMIT CACHED TENSORS)
output/
results/
models/
images/
data/
configs/
*.pt